[Unit]
Description=RPBot Telegram Bot
After=network.target

[Service]
Type=simple
# Убедитесь, что этот пользователь есть в системе:
User=ya1chko
# Лучше без пробелов в пути:
# /RPBOT3/RRBOT/RPBOT3_5/RPBOT/python_files
WorkingDirectory=/RPBOT3/RRBOT/RPBOT3_5/RPBOT/python_files
# Запускаем через bash, чтобы было совсем надёжно
ExecStart=/bin/bash -lc './start_bot.sh'
Restart=always
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target